%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%                             Releases
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
{relx, [{release, { mylib, {semver,""}},
         [mylib,
          kernel,
          stdlib
         ]},

        {dev_mode, false},
        {include_erts, false},
        {extended_start_script, true}]
}.

